
    <div class="form">
      <div class="form-title">
        <h2>Nouvelle question</h2>
      </div>

      <div class="form-content">
        <h1> Night <%= @ticket.name %></h1>
        <h1>When <%= @ticket.date %></h1>
        <%= simple_form_for [@ticket] do |f| %>
          <%= f.input :price, label: 'Your price, be smart' %>
          <%= f.button :submit, value: "Shine"%>
        <% end %>
      </div>
    </div>
